<head>

</head>


<body> 
<center><p><b><font size= "48" color= "white">Welcome to GameQuest which consoles are you hunting today?</font></b></p></center> 
<center><font size="12" color= "white"><img align="center" src="images/galaga.jpg" width="180" height="180" />
<div class="list"><form method="post" action="console_choice">
<input type="hidden" name="nes" value="f" id="NES">
<input type="checkbox" name="nes" value="t" id="NES"><label for="NES"> NES $53.40</label><br>
<input type="hidden" name="snes" value="f" id="SNES">
<input type="checkbox" name="snes" value="t" id="SNES"><label for="SNES"> SNES $42.14</label><br>
<input type="hidden" name="n64" value="f" id="N64">
<input type="checkbox" name="n64" value="t" id="N64"><label for="N64"> N64 $37.13</label><br>
<input type="hidden" name="sega_genesis" value="f" id="Sega Genesis">
<input type="checkbox" name="sega_genesis" value="t" id="Sega Genesis"><label for="Sega Genesis"> Sega Genesis $19.99</label><br>
<input type="hidden" name="atari_2600" value="f" id="Atari 2600">
<input type="checkbox" name="atari_2600" value="t" id="Atari 2600"><label for="Atari 2600"> Atari 2600 $33.75</label><br><br> 
<input type="submit" value="Submit"></form></div></font></center>


</form>

 

</center>
</body>

<footer>
	</footer>