<html>
<head>

	<h1>
	 <center><font size="72" color= "white">GameQuest</font></center>
	</h1>

</head>

<body background="images/background.jpg">
	<div class ="center-body">
		<%= yield %>
	</div>

</body>

<footer>
	<center>
		<div class="footer-text"><center><b><font size="72" color= "white">
		Game Knowledge Like You Wouldn't Believe!
	</font></b></center></div>
</footer>


<html>